<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplyFit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SimplyFitUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A07FFDE1EF49ECE00F0E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A07FFF21EF49ECE00F0E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A07FFFD1EF49ECE00F0E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB1D6221EF7744D002DCD1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
